[submodule "Azure_Kinect_ROS_Driver"]
	path = Azure_Kinect_ROS_Driver
	url = https://github.com/microsoft/Azure_Kinect_ROS_Driver.git
	branch = humble
[submodule "message_filters"]
	path = message_filters
	url = https://github.com/ros2/message_filters
	branch = foxy
[submodule "pose_classifier"]
	path = pose_classifier
	url = https://github.com/GiveMeTheReason/pose_classifier
